{% extends "base.html" %}

{% load staticfiles %}
{% load django_tables2 %}

{% block title %}{{ block.super }}Customers{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="customers" %}
{% endblock %}

{% block container %}
  <div id="sec2" class="text-page">
    <div class="container">
        <div class="col-md-12 text-left">
          <h1>Customer: {{ customer.name }}</h1>
          <p>Initial Start Date: {{ customer.initial_start_date|date }}</p>
        </div>
    </div>
  </div>
{% endblock container %}