{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}
    {{ block.super }}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <h2>Zoo</h2>
      <p>Come and see our Zoo - everyone is welcome!<p>
      <p><a class="btn btn-primary" href="{% url 'zoo:zoo' %}" role="button">Enter &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Cages</h2>
      <p>We have lots of different Cages. Perhaps you'll see something new?<p>
      <p><a class="btn btn-primary" href="{% url 'zoo:cage' %}" role="button">View Cages &raquo;</a></p>
    </div>
    <div class="col-lg-4">
      <h2>Animals</h2>
      <p>We've even got a few Animals - Do you know which Species they are?<p>
      <p><a class="btn btn-primary" href="{% url 'zoo:animal' %}" role="button">View Animals &raquo;</a></p>
    </div>
  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

